@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
* {
  background-color: #2B192F;
  color: white;
  font-family: 'Montserrat';
}
#mynav {
  text-decoration: none;
  list-style: none;
}
table, th, tr {
  border: 1px dotted white;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg)
  }
  to {
    opacity: 1;
    transform: rotateX(0)
  }
}
body {
  animation: transitionIn 0.75s;
}
.mynav {
 list-style:none;
padding: 0;
  margin: 0;
  background-color: blue;
}
blockquote {
  color: white;
}
